@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: "Khula Regular";
    src: url("../public/fonts/Khula-Regular.ttf");
}

@font-face {
    font-family: "Khula Bold";
    src: url("../public/fonts/Khula-Bold.ttf");
}

@font-face {
    font-family: "Martel Regular";
    src: url("../public/fonts/Martel-Regular.ttf");
}

@font-face {
    font-family: "Martel Bold";
    src: url("../public/fonts/Martel-Bold.ttf");
}

@font-face {
    font-family: "Cormorant Infant Regular";
    src: url("../public/fonts/CormorantInfant-Regular.ttf");
}

@font-face {
    font-family: "Cormorant Infant Bold";
    src: url("../public/fonts/CormorantInfant-Bold.ttf");
}

@layer components {
    .navbar {
        @apply fixed top-0 left-0 right-0 px-8 py-3 bg-white dark:bg-dark lg:px-16 xl:px-32;
    }

    .nav {
        @apply bg-transparent rounded text-grey text-center font-cormorantregular text-base hover:bg-lightblue hover:text-white dark:text-lightorange dark:hover:bg-lightorange dark:hover:text-white lg:text-lg lg:px-3 lg:py-1;
    }

    .nav.active {
        @apply bg-blue text-white dark:bg-orange dark:text-white;
    }

    .home_show {
        @apply lg:w-40 lg:h-40 md:w-44 md:h-44 transition-transform hover:scale-125 hover:rotate-0 hover:z-50 rounded-3xl shadow-sm shadow-lightblue dark:shadow-lightorange rotate-12
    }

    .home_body2_title {
        @apply font-martelbold text-grey dark:text-white text-center text-xl
    }

    .home_body2_desc {
        @apply font-khularegular text-lightgrey text-center text-base
    }

    .footer {
        @apply flex flex-col justify-between items-center px-8 py-3 bg-white dark:bg-dark
    }

    .footer_social_icon {
        @apply h-5
    }
    
}